*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
p{
    color:white;
    text-align: left;
    font-size: 1.4rem;
    line-height: 1.9rem;
}
iframe {
    margin-top: 30px;
	border: 0;
	display: block;
	height: 350px;
	width: 100%;
}
.section-titre{
    font-size: 4rem;
    font-weight: 300;
    color: black;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 2rem;
    text-align: center;
    }
    
.section-titre span{
    color: #E1A624;
    }

.cta{
        display: inline-block;
        padding: 10px 30px;
        color: #E1A624;
        background-color: transparent;
        border: 2px solid #E1A624;
        font-size: 2rem;
        text-transform: uppercase;
        letter-spacing: 1rem;
        margin-top: 20px;
        margin-top: 30px;
        transition:.3s ease;
        transition-property: background-color, color;
    }
    
.cta:hover{
        color: white;
        background-color: #E1A624;
    }
.brand h1{
        font-size: 3rem;
        text-transform: uppercase;
        color: white;
    }
.brand h1 span{
        color: #E1A624;
    }
/* Header section */
#header{
    position: fixed;
    z-index: 1000;
    left: 0;
    top:0;
    width: 100vw;
    height: auto;
}
#header .header{
    min-height: 8vh;
    background-color: rgba(31, 30, 30,0.24);
    transition: .3s ease background-color;
}
#header .nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    max-width: 1300px;
    padding: 0 10px;
}

#header .nav-list ul{
    list-style: none;
    position: absolute;
    background-color: rgba(31, 30, 30);
    width: 100vw;
    height: 100vh;
    left:100%;
    top:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow-x: hidden;
    transition: .5s ease left;
}
#header .nav-list ul.active {
    left: 0%;
}
#header .nav-list ul a{
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: .2rem;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 20px;
    display: block;
}
#header .nav-list ul a::after{
    content: attr(data-after);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    color: rgba(240, 248, 255, 0.021);
    font-size: 13rem;
    letter-spacing: 50px;
    z-index: -1;
    transition: .3s ease letter-spacing;
}

#header .nav-list ul li:hover a::after{
transform: translate(-50%, -50%) scale(1);
letter-spacing: initial;
}
#header .nav-list ul li:hover a{
    color: #E1A624;
}
#header .hamburger{
    height: 60px;
    width: 60px;
    display: inline-block;
    border: 3px solid white;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    cursor: pointer;
    transform: scale(.8);
    margin-right:20px;
}
#header .hamburger .bar{
    height: 2px;
    width: 30px;
    position: relative;
    background-color: white;
    z-index: -1;
}
#header .hamburger::after{
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border:30px solid white;
    animation: hamburger_puls 1s ease infinite;
}
#header .hamburger .bar::after, #header .hamburger .bar::before{
content: '';
position: absolute;
height: 100%;
width:100%;
left:0;
background-color: white;
transition: .3s ease;
transition-property: top, bottom;
}

#header .hamburger .bar::after{
    top:8px
}
#header .hamburger .bar::before{
    bottom: 8px;
}
#header .hamburger.active .bar::before{
  
    bottom: 0;
}

#header .hamburger .bar::after{
    top:0;
}

/* profil section*/
#profil{
    background-image: url(https://cdn.pixabay.com/photo/2015/09/05/20/02/coding-924920_1280.jpg);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}
#profil::after{
    content: '';
    position: absolute;
    left: 0;
    top:0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .7;
    z-index: -1;
}
#profil .profil{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
    justify-content: space-evenly;

}
#profil h1{
    display:block;
    width:fit-content;
    font-size: 4rem;
    position: relative;
    color: transparent;
    animation: text_reveal .5s ease forwards;
    animation-delay: 1s;
}

#profil h1:nth-child(1){
    animation-delay: 1s;
}
#profil h1:nth-child(2){
    animation-delay: 2s;
}
#profil h1:nth-child(3){
    animation: text_reveal_name .5s ease forwards;
    animation-delay: 3s;
}

#profil h1 span{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    background-color: #E1A624;
    animation: text_reveal_box 1s ease;
    animation-delay: .5s;
}

#profil h1:nth-child(1) span{
    animation-delay: .5s;
}
#profil h1:nth-child(2) span{
    animation-delay: 1.5s;
}
#profil h1:nth-child(3) span{
    animation-delay: 2.5s;
}




/* competences section*/



#competences .competences{
    flex-direction: column;
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 100px 0;
}


#competences .competences-top{
    max-width:500px;
    margin: 0 auto;
}
#competences .competences-top p{
    color: black;
    font-size: 1.4rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 300;
    letter-spacing: .05rem;
}
#competences .competences-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: 50px;
}

#competences .competences-item{
    flex-basis: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction:column;
    padding: 30px;
    border-radius: 10px;
    background-image: url(https://cdn.pixabay.com/photo/2015/07/28/22/01/office-865091_1280.jpg);
    background-size: cover;
    margin: 10px 5%;
    z-index: 1;
    overflow: hidden;
}
#competences .competences-item::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color:black;
    position: relative;
    opacity: .9;
    z-index: -1;

}
#competences .competences-bottom .icon{
    height: 50px;
    width: 50px;
    margin-bottom: 20px;
}
#competences .competences-item h2{
    font-size: 2rem;
    color: white;
    margin-bottom: 10px;
    text-transform: uppercase;
}


/* la section projet */

#projets .projets p{
    color: black;
    font-size: 1.4rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 300;
    letter-spacing: .05rem;
}

#projets .projets{
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 0;
}

#projets-header h1 {
    margin-bottom: 50px;
}
#projets .tout-les-projets{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#projets .projet-item{
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
width: 80%;
margin: 20px auto;
overflow: hidden;
border-radius: 10px;
}

#projets .projet-info{
    padding: 30px;
    flex-basis: 50%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    color: white;
}
#projets .projet-info h1{
    font-size: 4rem;
    font-weight: 500;
}
#projets .projet-info h2{
    font-size: 1.8rem;
    font-weight: 500;
    margin-top: 10px;
}
#projets .projet-info p{
    color: white;
}
#projets .projet-img{
    flex-basis: 50%;
    height: 300px;
    overflow: hidden;
    position: relative;
}
#projets .projet-img::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);

    opacity: .7;
}
#projets .projet-img img{
    transition: .3s ease transform;
}
#projets .projet-item:hover .projet-img img{
    transform: scale(1.1);
}

/* centre d'intérêt*/

#possibilities article{
    width: 460px;
    height: 270px;
    float: left;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
}
.article_image1{
    background-image: url(/Projet/practice/images/empty-seats-gdd0f9a288_1920.jpg);
}
.article_image2{
    background-image: url(/Projet/practice/images/books-g75dee80c1_1920.jpg);
}

#possibilities article:first-child{
    margin-right: 20px;
}
.overlay{
    
    background: rgba(255,255,255,0.95);
    height: 100%;
    width:190px;
    padding: 20px;
    border-radius:10px 0 0 10px;
    text-align: center;
    box-sizing: border-box;
}

article h4{
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
    text-transform: uppercase;
    margin-bottom:20px;
    text-align: center;
}

#possibilities p {
    text-align: center;
    margin-bottom: 20px;
}
.button2{
    color: #fff;
    background-color: #ff7a00;
    padding: 6px 20px;
    border-radius: 3px;


}

.button2:hover{
color: #fff;
background-color: #02b8dd; 
}
/* About section */
#about .about p{
    color: black;
    font-size: 1.4rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 300;
    letter-spacing: .05rem;
}
#about .about{
    flex-direction: column-reverse;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 20px;
}

#about .col-left{
    width: 250px;
    height: 360px;
}

#about .col-right{
    width: 100%;
}
#about .col-right h2{
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: .2rem;
    margin-bottom: 10px;

}

#about .col-right p{
    margin-bottom: 20px;
}
#about .col-right .cta{
    color: black;
    margin-bottom: 50px;
    padding: 10px 20px;
    font-size: 2rem;
}
#about .col-left .about-img{
    height: 100%;
    width: 100%;
    position: relative;
    border: 10px solid #E1A624;
}


/* contatc section*/
#contact .contact{
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
}
#contact .contact-items{
    width: 400px;
}

#contact .contact-item{
    width: 80%;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    padding: 30px;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0 18px 0 #0000002c;
    transition: .3s ease box-shadow;
}
#contact .contact-item:hover{
    box-shadow: 0px 0px 5px 0 #0000002c ;
}
#contact .icon{
    width: 50px;
    margin: 0 auto;
    margin-bottom: 10px;
}
#contact .contact-info h1{
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 5px;

}
#contact .contact-info h2{
    font-size: 1.3rem;
    line-height: 2rem;
    font-weight: 500;
}
/* footer */
#footer{
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}

#footer .footer{
    min-height: 200px;
   flex-direction: column;
   padding: 50px;
   padding-bottom: 10px;
}
#footer h2{
    color: white;
    font-weight: 500;
    font-size: 1.8rem;
    letter-spacing: 1rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

#footer .social-icon{
    display: flex;
    margin-bottom: 30px;
}
#footer .social-item{
    height: 50px;
    width: 50px;
    margin: 0 5px;
}
#footer .social-item img{
    filter: grayscale(1);
    transition: .3s ease filter;
}
#footer .social-item:hover img{
    filter: grayscale(0);
}

#footer p{
    color: white;
    font-size: 1.3rem;
}

/* keyframes */

@keyframes hamburger_puls{
    0% {
        width:1px;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform:scale(1.3) ;
    }
}
@keyframes text_reveal_box{
    50%{
        width: 100%;
        left: 0;
    }
    100%{
        width: 0;
        left: 100%;
    }
}

@keyframes text_reveal{
100%{
    color: white;
}
}

@keyframes text_reveal_name{
    100%{
        color: #E1A624;
        font-weight: 500;
    }
    }

     /* Media Query for mobile*/
    @media only screen and (max-width:768px){
	    .container{
            width: 80%;
            margin: 0 auto;
        }
        .cta{
            margin: 0 auto;
            font-size: 15px;
            padding: 15px 20px;
            text-align: center;
        }
        h1.section-titre{
            font-size: 2rem;
        }

    /* profil */

    #profil h1{
        font-size: 3.5rem;
        text-align: center;
	    
    }
	 #profil {
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
        #competences .competences-bottom{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            margin-top: 50px;
        }
        
        }
    /* Media Query for tablet */
    @media only screen and (min-width:768px){
        .cta{
            font-size: 2.5rem;
            padding: 20px 60px;
        }
        h1.section-titre{
            font-size: 6rem;
        }

    /* profil */

    #profil h1{
        font-size: 7rem;
    }

/* competences section */

#competences .competences-bottom .competences-item{

    flex-basis: 45%;
    margin: 2.5%;
}


/* projet */
#projets .projet-item{
    flex-direction: row;
}
#projets .projet-item:nth-child(even){
    flex-direction: row-reverse;
}
#projets .projet-item{
    height: 400px;
    margin: 0;
    width: 100%;
    border-radius: 0;

}

#projets .tout-les-projets .projet-info{
    height: 100%;
}
#projets .tout-les-projets .projet-img{
    height: 100%;
}

/* About */

#about .about{
    flex-direction: row;
}

#about .col-left{
    width: 600px;
    height: 400px;
    padding-left: 60px;
}

#about .about .col-left .about-img::after{
    left: -45px;
    top:34px;
    height: 98%;
    border: 10px solid #E1A624;
}

#about .col-right{
    text-align: center;
    padding: 30px;
}

#about .col-right h1{
    text-align: left;
}


/* contact*/

#contact .contact{
    flex-direction: column;
    padding: 100px 0;
    align-items: center;
    justify-content: center;
    min-width: 20vh;
}

#contact .contact-items{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin:0;
    
}

#contact .contact-item{
    width:30%;
    margin: 0;
    flex-direction: row;
}
#contact .contact-item .icon{
    height: 80px;
    width: 80px;
}
#contact .contact-item .icon img{
    object-fit: none;
}

#contact .contact-item .contact-info{
    width: 100%;
    text-align: left;
    padding-left: 20px;

}

    }


    /* Media Query for Desktop */

   @media only screen and (min-width:1200px){

    #header .hamburger{
        display: none;
    }
    #header .nav-list ul{
        position: initial;
        display: block;
        height: auto;
        width: fit-content;
        background-color: transparent;
    }
    #header .nav-list ul li{
        display: inline-block;
    }

    #header .nav-list ul li a{
        font-size: 1.8rem;
    }

    #header .nav-list ul a::after{
        display: none;
    }
    #competences .competences-bottom .competences-item{
        flex-basis: 22%;
        margin:1.5%;
    }

   }
